@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    font-family: "Varela Round", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #61a8ff80, #002c85ed);
    margin: 0;
    font-family: Arial, sans-serif;
}

/* titulo */

h1 {
    font-size: 3em;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}